.company-name {
    display: flex;                  /* Alinea los elementos en fila */
    justify-content: space-between; /* Distribuye los elementos a lo largo del contenedor */
    align-items: center;            /* Alinea los elementos verticalmente */
    width: 100%;                    /* Ocupa todo el ancho disponible */
    background-color: #f2f2f2;    /* Color de fondo */
    padding: 10px;                  /* Espaciado interno */
    font-size: 20px;                /* Tamaño de la fuente */
    font-weight: bold;              /* Negrita */

    > div {
        align-items:center;         /* Espaciado derecho */
        > a {
            margin-right: 20px;     /* Espaciado derecho entre elementos del div */
            text-decoration: none;  /* Sin subrayado */
            color: inherit;         /* Color del texto */
        }
    }
}